* {
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #FFECD1;
    --bg-color-secondary: white;
    --button-primary: white;
    --text-color: #121212;
    --cricket-door-disable: rgba(0, 0, 0, 0.1);
    --cricket-door-confirm: black;
    --active-player: #F9CD61;
}

html, body, #app, main > * {
    font-family: "Tilt Warp", sans-serif;
}

html, body, #app, main {
    margin: 0;
    padding: 0;
    height: 100%;

    h2 {
        font-family: "Honk", system-ui;
        font-size: 1.5rem;
        color: var(--text-color);
        margin: 0;
    }
}

@keyframes send-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1000px);
    }
}
